<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.huo.dbpjbackend.mapper.BusMapper">

    <resultMap id="BaseResultMap" type="com.huo.dbpjbackend.domain.Bus">
            <id property="location" column="location" jdbcType="VARCHAR"/>
            <result property="price" column="price" jdbcType="INTEGER"/>
            <result property="numbus" column="numBus" jdbcType="INTEGER"/>
            <result property="numavail" column="numAvail" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        location,price,numBus,
        numAvail
    </sql>
</mapper>
